.paper-sketch {
  background-color: rgb(235, 225, 193);
  /* width: 1000px;
  height: 600px;
  margin: 40px auto; */
}

.point {
  background-color:rgb(16, 114, 106);
  width: 10px;
  height: 10px;
  position: absolute;
  left:670px;
  top:300px;
}

.lines {
  background-color:rgb(0, 0, 0);
  width: 10px;
  height: 10px;
}